# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0104d0c054b4140a9f2ac2ee6e51bd7bcd6834e65ff8fdd1375bb7c36048ecf07daf281fc28b04c5d15a099a027b604caeaa06e8c9801af6dd6984dac71fe675

test:
  secret_key_base: 0d2d08030614241bc8c43a06c44773621e5ed22034636dd592376f4684178b80974a914c43f02d9f01e2278446de677546ad5d15d3653ce017591ff7ba6f6318

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
